<div class="mt-2 profile-bg rounded-4 bg-secondary">

</div>
<div class="profile">
    <div class="profile-circle rounded-circle bg-dark"></div>
    <div class="mx-5">
        <div class="fs-3">Jack Rhysider</div>
        <div class="">Creating the Darknet Diaries Merchandise</div>
        <div class="my-3 fs-5 d-flex">
            <div class="px-3">1200</div>
            <div class="vr"></div>
            <div class="px-3">1500</div>
            <div class="vr"></div>
            <div class="px-3">1800</div>
        </div>
        <div class="">
            <button type="button" class="btn btn-sm button">Follow</button>
        </div>
        
        <!-- <ul class="nav nav-underline justify-content-center">
            <li class="nav-item active">
                Home
            </li>
            <li class="nav-item">
                About
            </li>
        </ul> -->
        <hr>
    </div>
</div>
<div class="my-5 fs-3 fw-semibold">Favourite Merchandice</div>
<div class="card-grid">

    <div class="m-2">
        <div class="card">
            <div class="card-body">
                <img src="./assets/dummy.jpg" class="card-img-top"/>
                <div class="card-text text-truncate">The Fellas Merchandice</div>
                <div class="card-text text-truncate">$2.00</div>
                <div class="m-2">
                    <div class="py-2 d-grid">
                    <button class="btn btn-sm button rounded-pill">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-2">
        <div class="card">
            <div class="card-body">
                <img src="./assets/dummy.jpg" class="card-img-top"/>
                <div class="card-text text-truncate">The Fellas Merchandice</div>
                <div class="card-text text-truncate">$2.00</div>
                <div class="m-2">
                    <div class="py-2 d-grid">
                    <button class="btn btn-sm button rounded-pill">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-2">
        <div class="card">
            <div class="card-body">
                <img src="./assets/dummy.jpg" class="card-img-top"/>
                <div class="card-text text-truncate">The Fellas Merchandice</div>
                <div class="card-text text-truncate">$2.00</div>
                <div class="m-2">
                    <div class="py-2 d-grid">
                    <button class="btn btn-sm button rounded-pill">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
